DATA PROJECT FOR DECEASED VETERANS GRAVESITE LOCATION
A project for the local legion post 44.

Data Exploration

In [1]:
import numpy as np
import pandas as pd


df = pd.read_csv(r'..\data\National_Cemetery_Administration_Gravesite_Locator_VA_dataset.csv', nrows=100)

#view the first 10 rows
df.head(10)
#if columns are many and unable to see in JP Notebook view
#df.head(10).T

,decedent_id,First Name of Deceased,Middle Name of Deceased,Last Name of Deceased,Suffix of Deceased,Birth Date of Deceased,Death Date of Deceased,Section ID,Row,Site Number,...,Relationship to Veteran,First Name of Related Veteran,Middle Name of Related Veteran,Last Name of Related Veteran,Suffix of Related Veteran,Military Branch,Military Rank,War(s) Served,Location Point,last_update_date
0,5411358,Billy,R,Steele,NaN,01/22/1932,02/17/2022,NaN,NaN,NaN,...,Veteran (Self),Billy,R,Steele,NaN,US AIR FORCE,MSGT,"KOREA, VIETNAM",POINT (-81.26162 35.27018),06/08/2022
1,5415625,Alan,Norman,Maurer,NaN,08/13/1949,05/10/2022,NaN,NaN,NaN,...,Veteran (Self),Alan,Norman,Maurer,NaN,US NAVY,AE2,VIETNAM,POINT (-96.332704 43.437499),06/21/2022
2,5239132,Calvin,NaN,Davidson,NaN,08/07/1927,09/03/2014,NaN,NaN,NaN,...,Veteran (Self),Calvin,NaN,Davidson,NaN,US AIR FORCE,NaN,KOREA,NaN,05/03/2021
3,5361698,Colvin,Edmond,Byrd,NaN,08/16/1938,01/24/2022,NaN,NaN,NaN,...,Veteran (Self),Colvin,Edmond,Byrd,NaN,US ARMY,SP4,NaN,POINT (-79.71096 35.62384),02/13/2022
4,5253284,David,C,Allen,NaN,08/30/1948,03/05/2021,NaN,NaN,NaN,...,Veteran (Self),David,C,Allen,NaN,US ARMY,SP4,VIETNAM,NaN,06/06/2021
5,5410638,Daniel,NaN,Matrisciani,NaN,05/04/1946,04/18/2022,NaN,NaN,NaN,...,Veteran (Self),Daniel,NaN,Matrisciani,NaN,US ARMY,SP4,VIETNAM,NaN,06/07/2022
6,5354527,Edward,William,Soliday,NaN,06/02/1931,10/31/2021,NaN,NaN,NaN,...,Veteran (Self),Edward,William,Soliday,NaN,US ARMY,CPL,KOREA,NaN,01/27/2022
7,5416573,Eugene,W,Foster,NaN,03/25/1943,05/25/2022,NaN,NaN,NaN,...,Veteran (Self),Eugene,W,Foster,NaN,US NAVY,SN,VIETNAM,POINT (-87.98477 33.58656),06/23/2022
8,5423440,Edwin,NaN,Goeser,NaN,07/13/1926,05/22/2022,NaN,NaN,NaN,...,Veteran (Self),Edwin,NaN,Goeser,NaN,US ARMY,CPL,KOREA,NaN,07/11/2022
9,5409822,Gerald,J,Garrow,Sr,08/30/1933,01/29/2022,NaN,NaN,NaN,...,Veteran (Self),Gerald,J,Garrow,Sr,US ARMY,NaN,KOREA,NaN,06/06/2022

In [50]:
#if columns are many and unable to see in JP Notebook view
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
decedent_id,5411358,5415625,5239132,5361698,5253284,5410638,5354527,5416573,5423440,5409822
First Name of Deceased,Billy,Alan,Calvin,Colvin,David,Daniel,Edward,Eugene,Edwin,Gerald
Middle Name of Deceased,R,Norman,NaN,Edmond,C,NaN,William,W,NaN,J
Last Name of Deceased,Steele,Maurer,Davidson,Byrd,Allen,Matrisciani,Soliday,Foster,Goeser,Garrow
Suffix of Deceased,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sr
Birth Date of Deceased,01/22/1932,08/13/1949,08/07/1927,08/16/1938,08/30/1948,05/04/1946,06/02/1931,03/25/1943,07/13/1926,08/30/1933
Death Date of Deceased,02/17/2022,05/10/2022,09/03/2014,01/24/2022,03/05/2021,04/18/2022,10/31/2021,05/25/2022,05/22/2022,01/29/2022
Section ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Site Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name of Cemetery,WESTVIEW GARDENS,HILLSIDE CEMETERY,ESTILL DAVIDSON CEMETERY,UNION GROVE CHRISTIAN CHURCH CEMETERY,WASHINGTON PARK EAST CEMETERY,GREENWOOD CEMETERY,VALLEY VIEW CEMETERY,MEADOW BRANCH CEMETERY,ST BONIFACE CATHOLIC CEMETERY,ST JOSEPH CEMETERY
Cemetery Address 1,1123 EDGEWOOD RD,NaN,NaN,3985 OLD NC HWY 13,10612 E WASHINGTON PARK,500 25TH STREET,1564 LEWIS RD,NaN,CALIO ND,STRATTON ROAD
Cemetery Address 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cemetery City,BESSEMER CITY,LESTER,ONEIDA,ASHEBORO,INDIANAPOLIS,BROOKLYN,EDWARDSVILLE,KENNEDY,MUNICH,RUTLAND
Cemetery State,NC,IA,KY,NC,IN,NY,IL,AL,ND,VT
Cemetery ZIP,28016,51242,40972,27205,46229,11232,62025,35574,58352,5701
Cemetery URL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cemetery Phone Number,704-629-2571,712-754-2154,NaN,336-879-5238,317-898-6611,718-768-7300,618-567-0122,NaN,NaN,802-775-0846
Relationship to Veteran,Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self)
First Name of Related Veteran,Billy,Alan,Calvin,Colvin,David,Daniel,Edward,Eugene,Edwin,Gerald
Middle Name of Related Veteran,R,Norman,NaN,Edmond,C,NaN,William,W,NaN,J
Last Name of Related Veteran,Steele,Maurer,Davidson,Byrd,Allen,Matrisciani,Soliday,Foster,Goeser,Garrow
Suffix of Related Veteran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sr
Military Branch,US AIR FORCE,US NAVY,US AIR FORCE,US ARMY,US ARMY,US ARMY,US ARMY,US NAVY,US ARMY,US ARMY
Military Rank,MSGT,AE2,NaN,SP4,SP4,SP4,CPL,SN,CPL,NaN
War(s) Served,"KOREA, VIETNAM",VIETNAM,KOREA,NaN,VIETNAM,VIETNAM,KOREA,VIETNAM,KOREA,KOREA
Location Point,POINT (-81.26162 35.27018),POINT (-96.332704 43.437499),NaN,POINT (-79.71096 35.62384),NaN,NaN,NaN,POINT (-87.98477 33.58656),NaN,NaN
last_update_date,06/08/2022,06/21/2022,05/03/2021,02/13/2022,06/06/2021,06/07/2022,01/27/2022,06/23/2022,07/11/2022,06/06/2022

In [36]:
#having datatype warning issues with exploring specific zip code data

print(df.dtypes)

decedent_id                        int64
First Name of Deceased            object
Middle Name of Deceased           object
Last Name of Deceased             object
Suffix of Deceased                object
Birth Date of Deceased            object
Death Date of Deceased            object
Section ID                        object
Row                               object
Site Number                       object
Name of Cemetery                  object
Cemetery Address 1                object
Cemetery Address 2                object
Cemetery City                     object
Cemetery State                    object
Cemetery ZIP                       int64
Cemetery URL                      object
Cemetery Phone Number             object
Relationship to Veteran           object
First Name of Related Veteran     object
Middle Name of Related Veteran    object
Last Name of Related Veteran      object
Suffix of Related Veteran         object
Military Branch                   object
Military Rank                     object
War(s) Served                     object
Location Point                    object
last_update_date                  object
dtype: object

In [74]:
#checking based on first 10 rows zips (28016	51242	40972	27205	46229	11232	62025	35574	58352	5701)

specific_zips_check = [28016,51242,40972,27205,46229,11232,62025,35574]
zip_counts_check = df['Cemetery ZIP'].value_counts()
filtered_counts_check = zip_counts_check[zip_counts_check.index.isin(specific_zips_check)]
total_count_check = filtered_counts_check.sum()
print(filtered_counts_check)
print("Total count for specified zip codes: ",total_count_check)

Cemetery ZIP
28016    1
51242    1
35574    1
62025    1
11232    1
46229    1
27205    1
40972    1
Name: count, dtype: int64
Total count for specified zip codes:  8

In [53]:
#inspecting the dataset
print(df.head(10)['Cemetery ZIP'].unique())

[28016 51242 40972 27205 46229 11232 62025 35574 58352  5701]

In [77]:
specific_rows = df_entire[df_entire['Cemetery ZIP'].isin(specific_zips_entire)]
print(specific_rows.head())

Empty DataFrame
Columns: [decedent_id, First Name of Deceased, Middle Name of Deceased, Last Name of Deceased, Suffix of Deceased, Birth Date of Deceased, Death Date of Deceased, Section ID, Row, Site Number, Name of Cemetery, Cemetery Address 1, Cemetery Address 2, Cemetery City, Cemetery State, Cemetery ZIP, Cemetery URL, Cemetery Phone Number, Relationship to Veteran, First Name of Related Veteran, Middle Name of Related Veteran, Last Name of Related Veteran, Suffix of Related Veteran, Military Branch, Military Rank, War(s) Served, Location Point, last_update_date]
Index: []

[0 rows x 28 columns]

In [76]:
print(df_entire['Cemetery ZIP'].dtype)

object

In [80]:
#exploring size of data for KS specifically ZipCodes 66416, 66418, 66419, 66436, 66440, 66509, 66516, 66540, 66552
#recieved from https://www.zip-codes.com/county/ks-jackson.asp and last updated August 1, 2023

df_entire = pd.read_csv(r'..\data\National_Cemetery_Administration_Gravesite_Locator_VA_dataset.csv')

#converting the column to string - based on the inspecting 
df_entire['Cemetery ZIP'] = df_entire['Cemetery ZIP'].astype(str)

specific_zips_entire = [66416,66418,66419,66436,66440,66509,66516,66540,66552]
# Convert specific_zips_entire to strings
specific_zips_str = [str(zip_code) for zip_code in specific_zips_entire]

zip_counts_entire = df_entire['Cemetery ZIP'].value_counts()
filtered_counts_entire = zip_counts_entire[zip_counts_entire.index.isin(specific_zips_str)]
total_count_entire = filtered_counts_entire.sum()

print(filtered_counts_entire)
print("Total count for specified zip codes: ",total_count_entire)

C:\Users\Brantley\AppData\Local\Temp\ipykernel_21948\3569983310.py:4: DtypeWarning: Columns (15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_entire = pd.read_csv(r'C:\Users\Brantley\Projects\va_deceased_project\data\National_Cemetery_Administration_Gravesite_Locator_VA_dataset.csv')

Cemetery ZIP
66436    208
66509     74
66440     31
66540     30
66419     18
66416     17
66516     16
66552     10
66418      7
Name: count, dtype: int64
Total count for specified zip codes:  411

In [84]:
# Filter the DataFrame to only include rows with those ZIP codes
filtered_df = df_entire[df_entire['Cemetery ZIP'].isin(specific_zips_str)]

# Display the filtered DataFrame
print(filtered_df)
filtered_df

         decedent_id First Name of Deceased Middle Name of Deceased  \
333          5370115                  James                       D
621          5244042                William                       B
974           837455                Georgie                       M
7312          337275                 Robert                       E
25424         144946                    Roy                       E
...              ...                    ...                     ...
6939722      2305410                Raymond                   Duane
6941012      2916470                  Randy                    Dean
6959820      4434861                Timothy                       C
6966194      4665602                   Vern                       O
6966219      4965651                  Tommy                       G

        Last Name of Deceased Suffix of Deceased Birth Date of Deceased  \
333                     Jones                NaN             07/30/1943
621                     Allen                NaN             03/27/1934
974                    Lundin                NaN             01/22/1928
7312                   Carson                NaN             07/08/1924
25424                   Brown                NaN             01/19/1911
...                       ...                ...                    ...
6939722                 Gantz                NaN             04/09/1926
6941012                Cahoon                NaN             03/20/1953
6959820               Ramirez                NaN             04/17/1954
6966194              McKinsey                NaN             01/27/1926
6966219               Tuckwin                NaN             10/08/1944

        Death Date of Deceased Section ID  Row Site Number  ...  \
333                 02/01/2022        NaN  NaN         NaN  ...
621                 04/19/2021        NaN  NaN         NaN  ...
974                 01/12/2000        NaN  NaN         NaN  ...
7312                10/26/1997        NaN  NaN         NaN  ...
25424               05/19/1997        NaN  NaN         NaN  ...
...                        ...        ...  ...         ...  ...
6939722             07/10/2006        NaN  NaN         NaN  ...
6941012             07/03/2008        NaN  NaN         NaN  ...
6959820             07/23/2016        NaN  NaN         NaN  ...
6966194             11/08/2017        NaN  NaN         NaN  ...
6966219             07/31/2019        NaN  NaN         NaN  ...

        Relationship to Veteran First Name of Related Veteran  \
333              Veteran (Self)                         James
621              Veteran (Self)                       William
974              Veteran (Self)                       Georgie
7312             Veteran (Self)                        Robert
25424            Veteran (Self)                           Roy
...                         ...                           ...
6939722          Veteran (Self)                       Raymond
6941012          Veteran (Self)                         Randy
6959820          Veteran (Self)                       Timothy
6966194          Veteran (Self)                          Vern
6966219          Veteran (Self)                         Tommy

        Middle Name of Related Veteran Last Name of Related Veteran  \
333                                  D                        Jones
621                                  B                        Allen
974                                  M                       Lundin
7312                                 E                       Carson
25424                                E                        Brown
...                                ...                          ...
6939722                          Duane                        Gantz
6941012                           Dean                       Cahoon
6959820                              C                      Ramirez
6966194                              O                     McKinsey
6966219                              G                      Tuckwin

        Suffix of Related Veteran Military Branch Military Rank War(s) Served  \
333                           NaN         US ARMY           SP5       VIETNAM
621                           NaN         US ARMY           SP2           NaN
974                           NaN         US ARMY           SGT         KOREA
7312                          NaN         US NAVY           NaN  WORLD WAR II
25424                         NaN         US ARMY       1ST SGT  WORLD WAR II
...                           ...             ...           ...           ...
6939722                       NaN         US NAVY           NaN  WORLD WAR II
6941012                       NaN    US AIR FORCE           SGT           NaN
6959820                       NaN         US ARMY           SP4       VIETNAM
6966194                       NaN         US ARMY         TEC 5  WORLD WAR II
6966219                       NaN         US NAVY           CT3       VIETNAM

                     Location Point last_update_date
333                             NaN       03/03/2022
621                             NaN       05/13/2021
974      POINT (-95.96406 39.24188)       06/09/2000
7312     POINT (-95.75728 39.46317)       05/03/1998
25424                           NaN       09/17/1997
...                             ...              ...
6939722  POINT (-95.75728 39.46317)       10/02/2006
6941012                         NaN       04/27/2009
6959820  POINT (-95.71981 39.33779)       08/23/2016
6966194                         NaN       11/19/2017
6966219  POINT (-95.71981 39.33779)       08/18/2019

[411 rows x 28 columns]

,decedent_id,First Name of Deceased,Middle Name of Deceased,Last Name of Deceased,Suffix of Deceased,Birth Date of Deceased,Death Date of Deceased,Section ID,Row,Site Number,...,Relationship to Veteran,First Name of Related Veteran,Middle Name of Related Veteran,Last Name of Related Veteran,Suffix of Related Veteran,Military Branch,Military Rank,War(s) Served,Location Point,last_update_date
333,5370115,James,D,Jones,NaN,07/30/1943,02/01/2022,NaN,NaN,NaN,...,Veteran (Self),James,D,Jones,NaN,US ARMY,SP5,VIETNAM,NaN,03/03/2022
621,5244042,William,B,Allen,NaN,03/27/1934,04/19/2021,NaN,NaN,NaN,...,Veteran (Self),William,B,Allen,NaN,US ARMY,SP2,NaN,NaN,05/13/2021
974,837455,Georgie,M,Lundin,NaN,01/22/1928,01/12/2000,NaN,NaN,NaN,...,Veteran (Self),Georgie,M,Lundin,NaN,US ARMY,SGT,KOREA,POINT (-95.96406 39.24188),06/09/2000
7312,337275,Robert,E,Carson,NaN,07/08/1924,10/26/1997,NaN,NaN,NaN,...,Veteran (Self),Robert,E,Carson,NaN,US NAVY,NaN,WORLD WAR II,POINT (-95.75728 39.46317),05/03/1998
25424,144946,Roy,E,Brown,NaN,01/19/1911,05/19/1997,NaN,NaN,NaN,...,Veteran (Self),Roy,E,Brown,NaN,US ARMY,1ST SGT,WORLD WAR II,NaN,09/17/1997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6939722,2305410,Raymond,Duane,Gantz,NaN,04/09/1926,07/10/2006,NaN,NaN,NaN,...,Veteran (Self),Raymond,Duane,Gantz,NaN,US NAVY,NaN,WORLD WAR II,POINT (-95.75728 39.46317),10/02/2006
6941012,2916470,Randy,Dean,Cahoon,NaN,03/20/1953,07/03/2008,NaN,NaN,NaN,...,Veteran (Self),Randy,Dean,Cahoon,NaN,US AIR FORCE,SGT,NaN,NaN,04/27/2009
6959820,4434861,Timothy,C,Ramirez,NaN,04/17/1954,07/23/2016,NaN,NaN,NaN,...,Veteran (Self),Timothy,C,Ramirez,NaN,US ARMY,SP4,VIETNAM,POINT (-95.71981 39.33779),08/23/2016
6966194,4665602,Vern,O,McKinsey,NaN,01/27/1926,11/08/2017,NaN,NaN,NaN,...,Veteran (Self),Vern,O,McKinsey,NaN,US ARMY,TEC 5,WORLD WAR II,NaN,11/19/2017
6966219,4965651,Tommy,G,Tuckwin,NaN,10/08/1944,07/31/2019,NaN,NaN,NaN,...,Veteran (Self),Tommy,G,Tuckwin,NaN,US NAVY,CT3,VIETNAM,POINT (-95.71981 39.33779),08/18/2019

In [89]:
#filtered ZIP CODE to CSV
filtered_df.to_csv('filtered_data.csv', index=False)

In [78]:
for zip_code in specific_zips_entire:
    count = len(df_entire[df_entire['Cemetery ZIP'] == zip_code])
    print(f"Count for {zip_code}: {count}")

Count for 66416: 0
Count for 66418: 0
Count for 66419: 0
Count for 66436: 0
Count for 66440: 0
Count for 66509: 0
Count for 66516: 0
Count for 66540: 0
Count for 66552: 0

In [66]:
#inspecting the dataset
print(df_entire.head(100)['Cemetery State'].unique())

['NC' 'IA' 'KY' 'IN' 'NY' 'IL' 'AL' 'ND' 'VT' 'OK' 'MN' 'AR' 'KS' 'MA'
 'PR' 'MO' 'TX' 'ID' 'DE' 'MI' 'RI' 'MS' 'FL' 'OR' 'LA' 'CA' 'WI' 'OH'
 'PA' 'TN' 'AZ' 'ME' 'WV' 'SC' 'NH']

In [70]:
state = "KS"
zips_in_state = df_entire[df_entire['Cemetery State'] == state]['Cemetery ZIP'].unique()
print(f"ZIP codes in {state}:", zips_in_state)

ZIP codes in KS: ['67070' '66941' '66032' '67601' '67425' '66516' '66090' '66733' '67410'
 '67631' '67514' '66436' '67730' '67019' '66538' '66778' '66418' '66442'
 '67530' '67401' '66773' '67669' '67473' '67219' '67209' '66606' '66604'
 '67654' '66756' '66070' '66801' '66748' '66091' '66537' '67501' '66106'
 '67650' '67584' '66839' '66762' '67212' '66502' '66767' '67455' '67029'
 '66044' '66215' '66112' '66030' '66534' '67834' '66840' '67460' '67737'
 '67037' '67003' '67151' '66615' '67855' '66725' '66515' '67211' '67013'
 '67557' '67356' '67337' '66901' '66413' '67526' '67751' '66203' '66605'
 '67020' '67545' '66002' '66603' '66607' '67445' '66102' '67951' '66040'
 '66073' '67214' '67152' '66856' '67525' '67550' '67645' '66061' '67357'
 '66739' '66547' '66056' '66075' '66701' '66064' '67054' '67335' '66434'
 '67361' '66861' '67439' '66749' '67010' '67122' '66781' '67156' '67354'
 '66210' '67801' '67865' '67042' '66103' '67058' '67206' '66743' '67056'
 '67449' '67119' '66113' '66740' '67005' '67208' '67901' '67301' '67444'
 '66608' '66543' '67736' '67854' '67846' '66761' '66508' '66531' '66441'
 '67218' '67554' '67432' '66956' '67441' '67215' '67022' '67752' '66967'
 '66521' '67879' '67065' '67572' '67521' '67420' '66710' '67124' '67060'
 '67748' '67108' '66713' '67456' '67344' '66618' '66935' '67635' '67336'
 '67074' '66416' '66067' '67511' '67877' '66071' '66076' '66439' '67756'
 '66101' '67576' '67740' '67220' '67490' '67701' '66716' '67757' '67553'
 '66868' '66736' '67050' '67342' '66095' '67349' '67140' '67341' '66092'
 '66415' '66601' '66088' '67423' '67502' '66052' '66542' '67543' '66780'
 '66043' '66536' '66549' '66053' '67642' '67039' '66429' '67504' '67749'
 '66617' '66734' '67665' '67475' '67672' '66776' '67565' '67637' '67522'
 '67479' '67835' '67560' '67025' '67114' '67135' '66616' '67861' '67474'
 '67443' '67849' '67457' '67017' '66939' '67068' '67009' '66427' '66944'
 '66227' '67430' '66407' '67437' '67431' '66048.0' '66027.0' '67621'
 '66753' '66527' '66532' '66512' '67640' '67026' '67470' '66411' '67226'
 '67869' '67627' '66078' '66221' '66401' '66097' '67844' '67646' '66451'
 '66409' '67062' '66420' '67523' '66866' '67518' '66701.0' '66506'
 '66713.0' '66835' '66086' '66755' '67758' '66968' '67454' '66404' '66949'
 '66431' '66450' '67031' '66023' '67451' '67436' '67103' '66966' '66865'
 '66425' '67137' '67864' '67880' '66417' '66523' '66936' '67863' '67675'
 '67840' '66062' '67544' '66544' '67333' '67836' '67038' '66047' '67052'
 '66938' '66940' '66402' '66048' '67110' '67831' '67001' '67480' '66751'
 '67850' '66783' '67045' '66834' '66021' '67107' '66406' '66066' '67510'
 '66035' '67049' '66104' '66758' '66946' '67066' '66036' '67648' '67761'
 '66757' '67201' '67851' '66083' '66018' '66008' '67738' '66109' '66528'
 '66862' '67340' '67351' '67120' '67954' '66087' '67484' '67625' '66943'
 '67512' '67839' '66960' '67867' '67524' '67149' '67330' '66853' '66111'
 '66948' '66860' '67871' '66041' '67452' '67467' '67133' '67570' '66850'
 '67345' '66933' '67741' '66006' '66942' '66951' '66509' '67035' '67448'
 '67837' '66937' '66432' '66510' '66412' '66535' '66548' '67347' '67878'
 '67364' '67860' '66846' '67072' '67112' '66423' '67556' '67024' '67764'
 '67568' '66507' '67628' '67651' '66959' '67216' '67023' '66204' '67458'
 '66214' '67626' '67144' '67564' '66428' '66408' '66050' '66072' '66771'
 '67468' '67483' '66964' '67446' '67109' '66007' '67101' '66953' '67146'
 '67104' '66025' '66503' '67548' '67634' '66852' '66014' '66540' '67622'
 '67649' '66449' '66039' '67127' '67143' '66858' '66054' '66932' '67643'
 '66012' '66094' '67485' '67647' '67428' '67118' '67417' '67138' '66520'
 '66414' '67213' '66945' '67755' '67203' '67422' '67487' '66770' '66013'
 '67638' '67552' '67529' '66403' '66554' '66550' '67950' '67581' '67870'
 '66609' '67051' '67016' '66763' '67579' '66079' '67841' '67476' '67414'
 '66833' '67583' '67353' '66845' '66046' '66873' '67207' '66546' '67004'
 '67843' '66440' '66851' '67753' '66015' '67418' '66864' '67438' '67102'
 '66963' '67482' '66857' '67416' '66930' '66026' '66060' '67036' '67561'
 '67047' '66049' '66020' '66854' '67147' '66551' '67464' '67520' '67519'
 '66779' '67671' '66424' '67018' '67563' '66517' '67028' '67481' '66855'
 '67573' '67154' '67673' '67744' '67447' '66714' '67660' '66619' '67402'
 '67492' '67566' '66961' '66843' '66526' '67629' '67516' '67111' '67546'
 '66042' '66962' '66216' '66614' '66058' '67155' '66213' '67352' '67057'
 '66842' '67217' '66017' '67450' '67123' '67664' '66514' '66741' '67745'
 '67578' '66419' '66611' '66206' '66033' '66830' '66501' '67332' '66539'
 '66759' '67632' '66777' '67002' '66533' '67670' '66010' '67876' '66219'
 '67732' '67334' '67204' '67952' '67905' '67644' '67134' '67210' '67355'
 '67008' '67842' '66870' '67623' '66952' '67762' '66541' '67567' '66958'
 '66080' '66051' '66838' '67853' '66524' '66552' '67132' '66208' '66732'
 '67427' '67739' '66202' '67505' '66772' '67235' '66212' '66717' '66970'
 '66027' '67575' '67515' '66863' '66518' '67105' '66746' '66438' '67639'
 '66955' '66782' '67491' '66712' '66205' '66093' '67658' '67073' '66728'
 '66727' '66209' '66711' '66738' '66724' '66426' '67459' '66522' '67513'
 '67674' '67653' '66859' '67747' '67478' '66207' '67656' '66085' '67838'
 '67857' '66742' '66117' '66754' '67953' '67202' '67159' '66422' '66610'
 '66250' '66016' '66223' '67012' '67559' '66226' '67363' '66045' '66024'
 '67230' '67667' '67041' '67131' '67205' '67733' '67021' '67106' '66735'
 '67882' '67574' '66217' '66775' '66769' '66224' '66760' '66279' '67442'
 '67260' '67053' '67128' '67859' '66285' '66555' '66077' 66048 67156 66027
 66701 67843 67672 66503 66713 66506.0 '66506.0']

In [71]:
specific_zips = [66416,66418,66419,66436,66440,66509,66516,66540,66552]
zip_counts = df_entire['Cemetery ZIP'].value_counts()
filtered_counts = zip_counts[zip_counts.index.isin(specific_zips)]
total_count = filtered_counts.sum()
print(filtered_counts)
print("Total count for specified zip codes: ",total_count)

Series([], Name: count, dtype: int64)
Total count for specified zip codes:  0