DATA PROJECT FOR DECEASED VETERANS GRAVESITE LOCATION
A project for the local legion post 44 of Jackson County, KS.

In [1]:
import numpy as np
import pandas as pd

#exploring size of data for KS specifically ZipCodes 66416, 66418, 66419, 66436, 66440, 66509, 66516, 66540, 66552
#recieved from https://www.zip-codes.com/county/ks-jackson.asp and last updated August 1, 2023

df_entire = pd.read_csv(r'..\data\National_Cemetery_Administration_Gravesite_Locator_VA_dataset.csv', dtype={'Cemetery ZIP': str}, low_memory = False)

specific_zips_entire = ['66416', '66418', '66419', '66436', '66440', '66509', '66516', '66540', '66552']

# Filter and count the specified zip codes
filtered_counts_entire = df_entire['Cemetery ZIP'].value_counts()[specific_zips_entire]
total_count_entire = filtered_counts_entire.sum()

print(filtered_counts_entire)
print("Total count for specified zip codes: ", total_count_entire)

Cemetery ZIP
66416     17
66418      7
66419     18
66436    208
66440     31
66509     74
66516     16
66540     30
66552     10
Name: count, dtype: int64
Total count for specified zip codes:  411

In [17]:
print(df_entire['Cemetery ZIP'].dtype)

print(df_entire[['Cemetery ZIP', 'Death Date of Deceased', 'last_update_date']].dtypes)

object
Cemetery ZIP              object
Death Date of Deceased    object
last_update_date          object
dtype: object

In [18]:
# applying datatime to columns with date

date_columns = ['Birth Date of Deceased', 'Death Date of Deceased', 'last_update_date']

for col in date_columns:
    df_entire[col] = pd.to_datetime(df_entire[col], errors='coerce')

In [20]:
print(df_entire['Cemetery ZIP'].dtype)

print(df_entire[['Cemetery ZIP', 'Birth Date of Deceased', 'Death Date of Deceased', 'last_update_date']].dtypes)

object
Cemetery ZIP                      object
Birth Date of Deceased    datetime64[ns]
Death Date of Deceased    datetime64[ns]
last_update_date          datetime64[ns]
dtype: object

In [21]:
filtered_df = df_entire[df_entire['Cemetery ZIP'].isin(specific_zips_entire)]
filtered_df.head(10).T

,333,621,974,7312,25424,36818,61133,79603,80526,89452
decedent_id,5370115,5244042,837455,337275,144946,820974,4064803,5353681,5121221,5376799
First Name of Deceased,James,William,Georgie,Robert,Roy,Starlyn,Perley,Billie,Billy,Charles
Middle Name of Deceased,D,B,M,E,E,T,A,D,Joe,Edwin
Last Name of Deceased,Jones,Allen,Lundin,Carson,Brown,Hodison,Seaton,Amer,Teter,Dugan
Suffix of Deceased,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birth Date of Deceased,1943-07-30 00:00:00,1934-03-27 00:00:00,1928-01-22 00:00:00,1924-07-08 00:00:00,1911-01-19 00:00:00,1930-03-27 00:00:00,1922-04-19 00:00:00,1934-01-29 00:00:00,1936-03-15 00:00:00,1933-03-10 00:00:00
Death Date of Deceased,2022-02-01 00:00:00,2021-04-19 00:00:00,2000-01-12 00:00:00,1997-10-26 00:00:00,1997-05-19 00:00:00,1997-05-24 00:00:00,2014-07-17 00:00:00,2022-01-05 00:00:00,2019-11-03 00:00:00,2022-02-15 00:00:00
Section ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Site Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name of Cemetery,NETAWAKA CEMETERY,SOLDIER CEMETERY,DELIA CEMETERY,HOLTON CEMETERY,CIRCLEVILLE CEM,MT CALVARY CEMETERY,ST CLERE CEMETERY,HOLTON CEMETERY,NETAWAKA CEMETERY,HOLTON CEMETERY
Cemetery Address 1,NaN,"SOLDIER, KS",NaN,HWY 16 & P ROAD,CIRCLEVILLE,NaN,ST CLERE KS,NaN,NaN,11999 HWY K16
Cemetery Address 2,NaN,NaN,NaN,NaN,JERRY BOTTOM,NaN,NaN,NaN,NaN,NaN
Cemetery City,NETAWAKA,HOLTON,DELIA,HOLTON,CIRCLEVILLE,HOLTON,HOLTON,HOLTON,NETAWAKA,HOLTON
Cemetery State,KS,KS,KS,KS,KS,KS,KS,KS,KS,KS
Cemetery ZIP,66516,66436,66418,66436,66416,66436,66436,66436,66516,66436
Cemetery URL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cemetery Phone Number,785-364-6381,913-364-2626,NaN,785-364-2626,785-924-3734,NaN,NaN,NaN,785-364-4454,785-364-2626
Relationship to Veteran,Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self)
First Name of Related Veteran,James,William,Georgie,Robert,Roy,Starlyn,Perley,Billie,Billy,Charles
Middle Name of Related Veteran,D,B,M,E,E,T,A,D,Joe,Edwin
Last Name of Related Veteran,Jones,Allen,Lundin,Carson,Brown,Hodison,Seaton,Amer,Teter,Dugan
Suffix of Related Veteran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Military Branch,US ARMY,US ARMY,US ARMY,US NAVY,US ARMY,US MARINE CORPS,US NAVY,US MARINE CORPS,US ARMY,US ARMY
Military Rank,SP5,SP2,SGT,NaN,1ST SGT,CPL,MM2,SGT,PFC,PFC
War(s) Served,VIETNAM,NaN,KOREA,WORLD WAR II,WORLD WAR II,KOREA,WORLD WAR II,KOREA,NaN,KOREA
Location Point,NaN,NaN,POINT (-95.96406 39.24188),POINT (-95.75728 39.46317),NaN,POINT (-95.73801 39.46342),NaN,POINT (-95.73801 39.46342),NaN,POINT (-95.76042 39.46319)
last_update_date,2022-03-03 00:00:00,2021-05-13 00:00:00,2000-06-09 00:00:00,1998-05-03 00:00:00,1997-09-17 00:00:00,2000-05-14 00:00:00,2014-09-10 00:00:00,2022-01-25 00:00:00,2022-03-24 00:00:00,2022-03-20 00:00:00

In [24]:
specific_ks = ['KS']
ks_counts = df_entire['Cemetery State'].value_counts()[specific_ks]
print(ks_counts)

Cemetery State
KS    115053
Name: count, dtype: int64

In [25]:
filtered_ks = df_entire[df_entire['Cemetery State'].isin(specific_ks)]
filtered_ks.head(10).T

,17,143,152,257,300,333,369,375,429,510
decedent_id,5371494,832624,337716,5214021,5193494,5370115,5228400,5427425,5399887,5326924
First Name of Deceased,Herman,Roy,Roy,Don,Guy,James,Jerry,Jery,John,Robert
Middle Name of Deceased,Jan,S,N,M,L,D,D,G,NaN,Louis
Last Name of Deceased,Demuth,White,Martin,Palmer,Cash,Jones,Euler,Green,Ray,Berens
Suffix of Deceased,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birth Date of Deceased,1937-07-16 00:00:00,1934-08-26 00:00:00,1932-01-06 00:00:00,1944-05-12 00:00:00,1956-02-24 00:00:00,1943-07-30 00:00:00,1939-01-21 00:00:00,1942-12-01 00:00:00,NaT,1930-12-09 00:00:00
Death Date of Deceased,2021-05-29 00:00:00,2000-03-14 00:00:00,1997-04-20 00:00:00,2021-01-18 00:00:00,2021-01-03 00:00:00,2022-02-01 00:00:00,2021-03-22 00:00:00,2022-01-24 00:00:00,NaT,2021-07-24 00:00:00
Section ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Row,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Site Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Name of Cemetery,RIVERVIEW CEMETERY,ST ELIZABETHS CEM,GARNETT CEMETERY,MT ALLEN CEMETERY,BROOKVILLE CEMETERY,NETAWAKA CEMETERY,BELLEMONT CEMETERY,LAKEVIEW CEMETERY,ABILENE CITY CEMETERY,ST MICHAEL CEMETERY
Cemetery Address 1,NaN,ESBON KS,W 5TH AVE,25 & VINE,BROWNHILL RD,NaN,NaN,NaN,1400 AVE,NaN
Cemetery Address 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cemetery City,KIOWA,ESBON,GARNETT,HAYS,BROOKVILLE,NETAWAKA,WATHENA,ERIE,ABILENE,COLLYER
Cemetery State,KS,KS,KS,KS,KS,KS,KS,KS,KS,KS
Cemetery ZIP,67070,66941,66032,67601,67425,66516,66090,66733,67410,67631
Cemetery URL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cemetery Phone Number,620-825-4936,NaN,NaN,NaN,785-452-0415,785-364-6381,816-261-0067,NaN,NaN,NaN
Relationship to Veteran,Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self),Veteran (Self)
First Name of Related Veteran,Herman,Roy,Roy,Don,Guy,James,Jerry,Jery,John,Robert
Middle Name of Related Veteran,Jan,S,N,M,L,D,D,G,NaN,Louis
Last Name of Related Veteran,Demuth,White,Martin,Palmer,Cash,Jones,Euler,Green,Ray,Berens
Suffix of Related Veteran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Military Branch,US AIR FORCE,US ARMY,US NAVY,US ARMY,US AIR FORCE,US ARMY,US ARMY,US ARMY,US ARMY,US NAVY
Military Rank,LT COL,SP5,NaN,SP4,A1C,SP5,SP4,SGT,NaN,NaN
War(s) Served,NaN,NaN,KOREA,NaN,NaN,VIETNAM,NaN,VIETNAM,NaN,KOREA
Location Point,POINT (-98.48463 37.01699),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_update_date,2022-03-07 00:00:00,2000-05-14 00:00:00,1998-05-03 00:00:00,2021-03-04 00:00:00,2021-01-13 00:00:00,2022-03-03 00:00:00,2021-04-07 00:00:00,2022-07-21 00:00:00,2022-05-11 00:00:00,2021-11-17 00:00:00

In [26]:
#KS to csv in the data folder
filtered_ks.to_csv('../data/filter_ks_data.csv', index=False)

In [27]:
#Jackson County Zip Codes to csv in the data folder
filtered_df.to_csv('../data/filter_ja_zip_data.csv', index=False)